# Dependências do Node.js
node_modules/
npm-debug.log
yarn-error.log

# Variáveis de ambiente
.env
.env.local
.env.development
.env.test
.env.production

# Arquivos de build
dist/
build/

# Arquivos de log
logs/
*.log
*.log.*

# Arquivos temporários
tmp/
.temp/
*.tmp
*.temp

# Arquivos do sistema operacional
.DS_Store
Thumbs.db

# Arquivos de editores
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Arquivos de cobertura de testes
coverage/

# Arquivos de cache
.cache/